.App {
  text-align: center;
}

.App-logo {
  height: auto;
}

.App-header {
  background-color: #035e77;
  padding: 7px 0 1px 0;
  width: 55px;
  margin: 20px auto;
  color: white;
  border-radius: 50%;
  box-shadow: 1px 0 5px #eee;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.display {
	margin: 40px auto 10px;
	padding: 6px 20px;
	border: 1px solid #ddd;
	background-color: #035e77;
	width: 10em;
	font-size: 2em;
	color: #eee;
	border-radius: 6px;
	box-shadow: 2px 2px 6px #222 inset;
}

.display span {
	display: inline-block;
	width: 1em;
}

.dt, 
.seperator,
.milli {
	text-shadow: 2px 2px 1px #222;
	font-family: impact;
}

.seperator {
	top: -3px;
	position: relative;
}

.milli {
	font-size: 80%;
}

.controls button,
.controls button:active {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	color: #035e77;
	margin: 10px;
}

.controls span {
	color: #035e77;
}

